body{
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    background-color: rgb(224, 187, 137);
}



header{
    padding-top: 20px;
    border-bottom: 8px;
    border-bottom-style:double;
    border-color: rgb(119, 106, 106);
    text-align: center;
}

textarea{
    background-color: transparent;
}


.hour{
row-gap: 2px;
text-align: center;
padding-top: 18px;
background-color: aliceblue;
}

.past{
background-color: dimgray;
}


.current{
background-color: crimson;
}


.expected{
background-color: forestgreen;
}